.reason {
  background-color: $reason-color;
  border: 1px $reason-color solid;
  color: black;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 0px;
  margin: 0px 20px;
  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 10px;
  }
  &__text {
    margin: 15px 6px;
    margin-bottom: 17px;
  }
  border-bottom: 1px #d6d6d6 solid;
}

.reason--special {
  padding: 10px 20px;
  margin: 0px 0px;
  background-color: $page-blue;
  padding: 20px;
  padding-bottom: 22px;

  border: 1px $page-blue solid;
  color: white;
}
