.services {
  padding: 25px 25px;
  padding-bottom: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  &__item {
    padding-left: 45px;
    padding-bottom: 3px;
    border: 1px transparent solid;
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
}

.services__item--housing {
  background: url(../img/home.png) no-repeat;
}

.services__item--food {
  background: url(../img/food.png) no-repeat;
}

.services__item--souvenirs {
  background: url(../img/souvenirs.png) no-repeat;
}
