$page-blue: #81b3d2;
$light-blue: lighten($page-blue, 10%);
$dark-blue: darken($page-blue, 10%);
$top-border-color: $light-blue;
$bottom-border-color: $dark-blue;
$reason-color: #eeeeee;
$page-gray: #e5e5e5;
$field-color: #f2f2f2;
