.content-header {
  text-align: center;
  padding-top: 12px;

  &__description {
    line-height: 26px;
    margin: 25px
  }

  &--form-page {
    border-bottom: 1px solid $page-gray;
    padding-top: 48px;

    .content-header__description {
      line-height: 24px;
      margin: 19px;
    }
  }

  &--popup-success,
  &--popup-wrong {
    width: 320px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: white;

    .content-header__description {
      margin: 25px 40px ;
      line-height: 24px;
    }

    box-shadow: 0px 16px 42px -12px rgba(0,0,0,0.23);
  }

  &--popup-wrong {
    top: 2945px;
  }

   &--popup-success {
    top: 3276px;
  }
}

.content-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin: 25px;
}

