.content-header {
  text-align: center;
  padding: 20px;

  &__description {
    line-height: 26px;
    margin: 28px 10px -10px 10px;
  }
}

.content-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin: 15px 10px 20px 10px;
}

.content-header--form-page {
  margin-top: 33px;
  padding: 20px 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid $page-gray;
  p {
    margin-bottom: 18px;
  }
  .content-header__description {
    line-height: 24px;
    margin-bottom: 0px;
  }
}

.content-header--popup-wrong,
.content-header--popup-success {
  max-width: 320px;
  margin: 0 auto;
}


