.main-footer {
  padding: 20px 0;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }

  &__visit {
    margin: 10px auto;
  }

  &__visit-link {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

  &__copyright {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 130px;
    padding: 5px;
  }

  &__copyright:after {

    content: '';
    position: absolute;
    background: url(../img/htmlacademy.svg) no-repeat right;
    width: 30px;
    height: 40px;
    top: -5px;
    right: 5px;
  }

  &__copyright-link span {
    display: none;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 27px;

    &__visit {
      margin: 0 0 0 34px;
    }
  }
}
