.main-nav {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 7px 0;
    border-top: 1px $top-border-color solid;
    border-bottom: 1px $bottom-border-color solid;
    background-color: $page-blue;
  }

  .main-nav__right-nav &__item:last-of-type {
    box-shadow: inset 1px -17px 16px -16px rgba(0,0,0,0.23);
  }

  &__link {
    color: white;
  }

}

@media (min-width: 768px) {
  .main-nav {

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item{
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      background-color: white;
      border-top: 0;
      border-bottom: 0;
    }
    &__link{
      color: black;
    }
  }
}
