.services {
  text-align: left;
  padding: 0 20px;
  margin-top: 30px;

  &__item {
    display: block;
    position: relative;
    padding-left: 50px;
    border: 1px transparent solid;
  }

  &__item:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;

  }

  &__title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

}

.services__item--housing {

     background: url(../img/home.png) no-repeat;

}

.services__item--food {

     background: url(../img/food.png) no-repeat;

}

.services__item--souvenirs {

     background: url(../img/souvenirs.png) no-repeat;

}

@media (min-width: 768px) {
  .services{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0;
  }
}
