.social-links {
  margin: 35px auto 40px auto;

  &__btn {
    margin: 1px;
    background-color: $page-blue;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @include inline-block;
    width: 47px;
    height: 48px;
    font-size: 0;
    text-decoration: none;

    &--twitter {
      background-image: url(../img/icon-twitter.svg);
    }

    &--facebook {
      background-image: url(../img/icon-facebook.svg);
    }

    &--you-tube {
      background-image: url(../img/icon-youtube.svg);
    }
  }

  @media (min-width: 768px) {
    margin: 0 127px 0 110px;
  }
}
